
.b-black {
  background-color: rgb(21, 24, 26);
}

.b-blue {
  background-color: #6C91C2;
}

.b-white {
  background-color: rgb(233, 233, 233);
}

.b-green {
  background-color: rgb(89, 195, 160);
}

.b-blue2 {
  background-color: rgb(128, 171, 226);
}

.white {
  color:rgb(233, 233, 233);
}

.white2 {
  color:rgb(167, 167, 167);
  
}

/* __________TEXT__________ */
.fs-0 {
  font-size: 1.5em;
}
.fs-1 {
  font-size: 2em;
}
.fs-2 {
  font-size: 3em;
}
.fs-3 {
  font-size: 4em;
}

.fs-25 {
  font-size: 25em;
}

.fw-1 {
  font-weight: 300;
}
.fw-2 {
  font-weight: 400;
}
.ls-1 {
  letter-spacing: 5px;
}
.ls-2 {
  letter-spacing: 10px;
}

/* __________padding / margin__________ */
.p {
  padding:10px;
}

.m {
  margin:10px;
}

.no-m {
  margin:0px !important;
}

.no-p {
  padding:0px !important;
}

.m-t {
  margin-top:20px;
}

.m-t2 {
  margin-top:2em;
}

.m-b {
  margin-bottom:10px;
}

.m-b2 {
  margin-bottom:2em;
}

.m-l {
  margin-left: 20px;
}

.m-l2 {
  margin-left:2em;
}

.m-r {
  margin-right: 20px;
}

/* __________BORDER__________ */
.b {
  border-width: 2px;
  border-style: solid;
  border-color:  rgb(89, 195, 160);
}

.rounded {
  border-radius: 10px;
}

/* IMAGE */

.imgw {
width: auto;
height: 601px;
background-repeat: no-repeat;
background-size: contain;
}